* {
    margin: 0;
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 630px;
    width: 150px;
    border-right: 1px solid #D7DBDD;
    background-color: hsl(180, 20%, 99%);
    padding: 10px;
    transition: 0.5s;
    height:100vh;
}


.sideBar a {
    color: #689CD2;
    text-decoration: none;
}

.sideBar_item {
    cursor: pointer;
    padding: 8px 10px;
    font-size: 18px;
}

.sideBar_item:hover {
    background-color: #EEF3F5;
    border-radius: 4px;
}

.rotate {
    transform: translate(-100%);
}

#hamburger {
    position: absolute;
    top: 0;
    left: 0;
}

.sideBar_section {
    margin-top: 50px;
    margin-bottom: 25px;
}