.container {
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(201, 199, 199);
    opacity: 0;
    }
    
.btnGreen {
    display: flex;
    justify-content: flex-end;
}
